$yellow: #FFD83C;
$yellow-dark: #CBA500;
$blue: #099CE8;
$purple: #7553FF;
$light-blue: #C5DCFF;
$semi-light-blue: #6BA6FF;
$gray: #9E9E9E;
$black: #404040;
$total-black: #000000;
$light-black: #4B4B4B;
$borderColor: #828282;
$white: #fff;
